{% extends "base.html" %}
{% block title %}MySite{% endblock %}

{% block css %}
{{ block.super }}
{% if not STATIC_CONCAT %}
{% include "links/index_links.html" %}
{% elif STATIC_CONCAT %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/index_links.concated{{ STATIC_EXT }}.css">
{% endif %}
{% endblock css %}

{% block css_media_queries %}{{ block.super }}{% endblock css_media_queries %}

{% block content %}
<div id="content">  
{{ MEDIA_URL }}
{{ STATIC_URL }}
</div>
<hr>
<div id="cow">
{{ MEDIA_URL }}
{{ STATIC_URL }}	
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% if not STATIC_CONCAT %}
{% include "scripts/index_scripts.html" %}
{% elif STATIC_CONCAT %}
<script src="{{ STATIC_URL }}js/index_scripts.concated{{ STATIC_EXT }}.js"></script>
{% endif %}
{% endblock js %}