db.sqlite3

# nginx configs
theconscience_nginx.conf
theconscience_uwsgi.ini
uwsgi_params

# nginx logs
logs/

# project config
theconscience/settings_local.py

# external apps static files
theconscience/static/source/+(admin|rest_framework)/
theconscience/static/source/+(admin|rest_framework)/*

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node package manager
node_modules/

# Other files
\!!*.bu.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
#.tox/
#.coverage
#.cache
#nosetests.xml
#coverage.xml

# Translations
*.mo

# Mr Developer
#.mr.developer.cfg
#.project
#.pydevproject
