{% extends "base_bootstrap_2015/base_inner.html" %}	
{% load hotels_extras  mptt_tags %} 
{% load i18n %}


{% block page_title %}
  {% if not metatags.get_meta_title %}  
      Components
  {% else %}
      {{ metatags.get_meta_title }}
  {% endif %}
{% endblock %}


{% block css %}
{{ block.super }}

<style>

.component-set {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.component-set:nth-of-type(2n) {
  background-color: #fbfbfb;
}
.component-name {
  margin: .5em 0 1em 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #f1f1f1;
  
  font-size: 2em;
  font-family: 'helveticaneuecyrbold';
  line-height: 2em;
 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  
  color: #4e4e4e;
}
.component-name small {
  text-transform: initial;
}
.component-name code {
  text-transform: none;
}
.icons-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  font-size: 1em;
}
.icons-list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  width: 20%;
  padding: 2em 1em;
  text-align: center;
}


</style>

</style>
{% endblock %}



{% block profile_content %}
{% load userprofiles_extras companies_extras i18n %}

{% csrf_token %}
  

  <article id="components">
    
    <div class="component-set">
      <div class="container-fluid">
      	<h1 class="text-center">Готовые примеры</h1>
      </div>
    </div>

    <div class="component-set">
      <div class="container-fluid  text-center">
    		<a href="{% url 'components' %}" class="btn  btn-success  fat">Вёрстка</a>
    		<a href="{% url 'code' %}" class="btn  btn-info  fat">Код</a>
      </div>
    </div>
   
  </article>
  
{% endblock %}



{% block js %}
{{ block.super }} 
{% endblock %}




