/* choose hotel for profile */
#mainpage section.content div.center {padding: 75px 11% 5%}
.hotel-for-profile { background-color: #fff }
.hotel-for-profile [class*=col-] { padding: 0 }
#mainpage .hotel-for-profile select.select-btn { max-width: inherit }
.hotel-for-profile form { margin-left: 16.6666% }
.hotel-for-profile input[type=text],
.hotel-for-profile input[type=number] { width: 100%; border: 1px solid #ccc; font-size: 14px; line-height: 1.4; padding: 6px 12px }
.hotel-for-profile header { padding: 15px; font-size: 1.4em}
.hotel-for-profile header > div { display: inline-block; vertical-align: middle }
.hotel-for-profile header h1 { font-size: 1.8em }
.hotel-for-profile header .left-column { width: 16.6666%; height: 110px; background: url('/static/base_bootstrap_2015/images/activity/hotel.png') no-repeat center center; background-size: 70%; }
.hotel-for-profile header .right-column { width: 80% }
.hotel-for-profile select.hotel-list { width: 100%; border: 1px solid #ccc }
.hotel-for-profile select.hotel-list option { padding-left: 5px; }
.hotel-for-profile .hotel-search-result .wait-block i { font-size: 2em }
.hotel-for-profile .hotel-search-result .wait-block p { text-align: center }
.hotel-for-profile .form-block { margin-bottom: 15px; }
.hotel-for-profile .label-for-hotel-list { margin-top: 10px; visibility: hidden }
.hotel-for-profile .form-wrap { padding: 15px; font-size: 1.3em; }
.hotel-for-profile .form-wrap .attention-block { margin-top: 20px; }
.hotel-for-profile .form-wrap .attention-block p { margin-bottom: 0 }
.hotel-for-profile .form-wrap .attention-block > div { vertical-align: middle; display: inline-block }
.hotel-for-profile .form-wrap .left-column { width: 15%; font-size: 3.5em; color: #ef0e55 }
.hotel-for-profile .form-wrap .right-column { width: 83%; padding: 5px; }
.hotel-for-profile .form-wrap .sorry-block { font-weight: bold; font-size: 1.1em }
.hotel-for-profile .submit-block { margin-top: 20px; }
.hotel-for-profile .submit-block .hotel-submit { font-size: 1.2em; }
/* add hotel */
.add-user-hotel-form .form-block { margin-bottom: 0 }
.add-user-hotel-form .form-block p { margin-top: 0; }
.hotel-for-profile .add-user-hotel-form [class*=col-] { padding: 3px }
.hotel-for-profile .add-user-hotel-form .submit { font-size: 1.1em }
.hotel-for-profile .add-user-hotel-form .label { font-size: 14px; display: inline-block; }
.hotel-for-profile .add-user-hotel-form .submit-block { margin: 30px 6px 3px 0 }

 