.hs_title{
    font-size: 16px;
  }
  
  .childpolicy_title th{
    vertical-align: top;
  }
  
  input[type="checkbox"] {
    opacity: 1 !important;
  }
  
  input[type="radio"] {
    padding: 0px!important;
  }
  
  .room-order input {
    width: 30px;
  }
  
  .data-table {
    width: 900px;
  }
  
  .bird-delete {
    background: url("/../../media/base_version_15082012/img/a25.png") no-repeat  scroll 0 0 transparent;
    display: block;
    height: 34px;
    margin: 0 auto;
    width: 34px;
  }
  
  .cp-delete { background: url("/../../media/base_version_15082012/img/a25.png") no-repeat  scroll 0 0 transparent;
    display: block;
    height: 34px;
    margin: 0 auto;
    width: 34px; }
  
  td.checkbox {
    width: 20px;
  } 
  
  input#id_command {
    width: 830px !important;
  }
  
  textarea#id_comment {
    width: 400px;
  }
    
  #ratePlan h4{
    float:left;
  }
  
  #ratePlan p{
    line-height:20px;
  }
  
  
  #childpolicyDiv span,
  #childpolicyDiv ul{
    float:left;
  }
  
  #checkInOut{
    line-height:38px;
  }
  
  #checkInOutChange{
    margin-top: 10px;
  }
  
  .checkInOutTd, .childpolicyTd{
    padding-top: 10px;
    vertical-align: top;
  }
  
  select#id_checkin_hour,
  select#id_checkin_minute,
  select#id_checkout_hour,
  select#id_checkout_minute{
    width:50px;
  }
  
  select#id_checkin_second,
  select#id_checkout_second{
    display:none;
  }
  
  #rooms_table tr.bg_first_tr td{
    text-align:center;
  }
  
  .hotel_checkInOut{
    vertical-align: top;
    padding-top: 10px;
  }

  .rate_plan_stopsale td,
  .rate_plan_stopsale th{
    padding: 0 10px;
    vertical-align: top;
    text-align: left;    
  }
  
  .rate_plan_stopsale th{
    padding-bottom: 5px;
  }

  #make-public{
    color: #008000;
    font-weight: bold;
  }
  
  .childpolicy_checkinout td, 
  .childpolicy_checkinout th{
    padding: 0 10px;
    
  }
  /* стили формы добавления комнат */

  .copy-hotel-supplier{
    font-size:14px;
  }
  
  /* кнопка добавления ограничения для 
     бонуса и спецпредложения на hotel_edit.html 
  */
  
  .add_restr_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../../silk_mini_icons/add.png');
    overflow: hidden;
    vertical-align: middle;
  }
  
  .del_restr_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../../silk_mini_icons/delete.png');
    overflow: hidden;
    vertical-align: middle;
  }
  
  /* заголовок форм в hotel_edit */  
  #fancybox-content h2.form_title{
    background: -moz-linear-gradient(center top , rgb(254, 174, 70) 0%, rgb(249, 132, 51) 38%, rgb(248, 125, 47) 48%, rgb(248, 124, 47) 100%) repeat scroll 0px 0px transparent;
    background: -webkit-linear-gradient(top, #FEAE46 0%, #F98433 38%, #F87D2F 48%, #F87C2F 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top, #FEAE46 0%, #F98433 38%, #F87D2F 48%, #F87C2F 100%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(top, #FEAE46 0%, #F98433 38%, #F87D2F 48%, #F87C2F 100%) repeat scroll 0 0 transparent;
    color: white;
    display: block;
    font-size: 1.3em;
    height: 19px;
    padding: 10px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  #bonuses_form .room-comment,
  #earlybirds_form .room-comment,
  #services_form .room-comment {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url('/static/silk_mini_icons/information.png');
    background-size: cover;
  }