.index-page {
  font-size: 10px;
  font-family: 'Helvetica', 'tahoma', sans-serif;
  line-height: 1;
}
.other-class {
	page-break-inside: all;
	font-size: 15px;
	font-weight: bold;
}
.best-class {
	font-size: 300px;
	font-weight: bold;
}