.room-accommodations .ages-list { list-style: none; }
.room-accommodations header { padding-top: 2em; font-size: 1.2em; border-bottom: 1px solid #ccc; }
.room-accommodations header h1 { padding: 0; margin: 0; text-align: left; font-size: 2em; }
.room-accommodations header h4 { font-size: 1.4em; }
.room-accommodations .switch-label-helper { line-height: 2.6em; padding: 0 .5em; font-weight: bold; }
.room-accommodations .pax-form { font-size: 1.3em; }
.room-accommodations .pax-form table { font-size: .8em; }
.room-accommodations .pax-form table .tip,
.room-accommodations .manual a { color: #337ab7; text-decoration: none; border-width: 0; font-size: 1.5em; }
.room-accommodations .manual { padding: 0; margin-top: .7em; }
.room-accommodations .pax-form .form-block table .row { margin-bottom: 0; }
.room-accommodations .pax-form .form-block { border-bottom: 1px solid #ccc; padding: 2em 0 1em; }
.room-accommodations .pax-form .form-block .row { margin-bottom: 1em; }
.room-accommodations .pax-form .form-block .btn { width: 100%; font-size: 1.3em; }
.room-accommodations .pax-form .ages-count-form label { line-height: 1.6666em; font-weight: bold; padding: .41666em 0; }
.room-accommodations .pax-form .ages-count-form .btn { font-size: 1.3em; }
.room-accommodations .pax-form .ages-count-form .row { margin-bottom: 0; }
.room-accommodations .pax-form .save-pax-form { font-size: 1.2em; }
.room-accommodations .pax-form .btn { font-size: 1.2em; }
.room-accommodations .pax-form .bl_for_example .btn { margin: 1em 0 1em 1em; }
.room-accommodations .pax-form .standard-table td { padding: .5em; }
.room-accommodations .pax-form .standard-table .info-block { padding-top: .7em; padding-left: 0; }
.room-accommodations .pax-form .standard-table .red-acc { background: #F787A9; color: #fff; }
.room-accommodations .pax-form .standard-table .changed-acc-count td { border-top-width: 2px; border-top-color: #c0c0c0; }
.room-accommodations .pax-form .standard-table .formula-translation-block { padding: 0; }
.room-accommodations .pax-form #import_text { font-size: 1em; margin-bottom: 1em; }
.room-accommodations .pax-form #start_import, 
.room-accommodations .pax-form #start_export { width: 100%; }
.room-accommodations .pax-form .tools-panel .btn { width: 100%; padding: .6875em 0; }
.room-accommodations .pax-form .ages-count-form .group-row { padding-bottom: 10px; }

.room-accommodations .pax-form input.btn.btn-bright { background-color: #fff; width: 100%; }
.room-accommodations .pax-form input.btn.btn-bright:hover { background: #ef0e55; } 
.room-accommodations .tip-block .component.popup-tip:before { transform: rotate(90deg); top: -7px; left: 50%; margin-left: -7px; }
.room-accommodations .tip-block .component.popup-tip { padding: 0; }
.room-accommodations .tip-block h4 { padding-left: 1em;}
.room-accommodations .tip-block ul { padding: 0; margin: 0; list-style: none; }
.room-accommodations .tip-block ul li:hover { background-color: #fff; }
.room-accommodations .tip-block ul a { color: #ef0f54; display: block; padding: .7em 1em; } 
.room-accommodations .tip-block ul a span { border-bottom: 1px dashed #ef0f54; }
.room-accommodations .tip-block ul a:hover { text-decoration: none; }

.room-accommodations .combo-list { padding: 0; list-style: none; }
.room-accommodations .combo-list .delete-combo i { vertical-align: top; color: #ef0f54; }
.room-accommodations .combo-list li { margin-bottom: 1em; }
.room-accommodations .combo-list li .combo-item { display: block; padding: .5em; border: 1px solid #ccc; }
.room-accommodations .component.command input { font-size: 1.3em; }
.room-accommodations .component.command #id_command { text-align: left; }
.room-accommodations .component.command #command_submit { padding: .6875em 0; }

.hotel-detail-base { font-size: 1em; }
.hotel-detail-base .hotel-menu { font-size: 1.4em; }
.room-accommodations .btn i { font-size: 1em; }



